[Unit]
Description=Precision Time Protocol (PTP) service
Documentation=man:ptp4l

[Service]
Type=simple
ExecStart=/usr/local/sbin/ptp4l -i INTERFACE -f /home/user/ptp/ptp3.conf

[Install]
WantedBy=multi-user.target